.card {
  background-image: linear-gradient(120deg,rgba(255,255,255,.03), rgba(255,255,255,.02));
  color: rgba(255,255,255,.5);
  padding: 28px;
  margin-top: 24px;
  box-shadow: 0px 0px 16px rgba(0,0,0,.4);
}

.card h2 {
  font-size: 22px;
}

.card  p{
  line-height: 18px;
}

.card i {
  font-size: 48px;
  color: rgba(255,255,255,.5);
  margin-right: 32px;
}

.flex {
  display: flex;
  align-items: flex-start;
}

